@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,700italic,600italic);
body {
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#787878;
}
#login-bg {
	background: url(../images/login-bg.jpg) no-repeat;
	background-size:cover;
}
.login-form-wrapper {
	background:#fff;
	padding:15px;
	margin-top:200px;
}
.login-form-wrapper h2 {
	font-weight:600;
	text-transform:uppercase;
	border-left:5px solid #e41724;
	margin-left:-15px;
	padding-left:15px;
	margin-bottom:20px;
	margin-top:0;
	color:#3f3f3f;
}
.login-form-wrapper .checkbox {
    margin-top: 0;
}
.login-form-wrapper .btn {
	width:100%;
}
.login-form-wrapper .icon-addon.addon-md .glyphicon, .icon-addon .glyphicon, .icon-addon.addon-md .fa, .icon-addon .fa {
	color:#b8b8b8;
}
.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}


label {
    font-weight: 400;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #5c7ba6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebar-wrapper h4 {
    color: #fc9a18;
    margin: 20px 0 0 20px;
}
#page-content-wrapper .navbar-collapse {
	padding-left: 0;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
.content-wrapper {
	padding:20px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 100px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}
.logo {
    background: #222222 none repeat scroll 0 0;
    padding:4px 0;
    text-align: center;
}
.logo h2 {
    font-size: 18px;
    margin: 11px 0;
}
.logo a {
	color:#FFFFFF;

}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    background:#fff;
	border-right:3px solid #fc9a18;
}

.sidebar-nav li.active a {
    text-decoration: none;
    color: #fff;
    background:#fc9a18;
	border-right:3px solid #2e3c4d;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;

}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
	background:#e41724;
	text-align:center;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.navbar {
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-default {
    background-color: #f4f4f4;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #5c7ba6;
    color: #fff;
}
.left-nav {
    margin-left: -15px;
}
.navbar-brand {
    font-size: 24px;
    margin-right: 15px;
}
/*========== SITE LAYOUT ==========*/

.page-header h1 {
	font-size:30px;
	color:#fc9a18;
}

.page-header .add_link {
    margin: 27px 0 0;
    text-align: right;
}

.page-header .add_link a {
	font-size:16px;
	color:#000;

}
.breadcrumb {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin: 35px 0 0;
    padding: 0;
}
.breadcrumb a {
    color: #787878;
}
.breadcrumb > .active {
    color: #000;
}
.panel {
	border-radius:0;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
	color:#5c7ba6;
}
/*=========== HOME PAGE LAYOUT ==========*/
.quick-link-box {
	background:#e41724;
	text-align:center;
	padding:15px;
	color:#fff;
	display:inline-block;
	height:110px;
	width:130px;
	float:left;
	margin:8px;
}
.quick-link-box .link-icon {
    height: 40px;
    margin: auto;
    width: 40px;
}

.quick-link-box h4 {
    font-size: 13px;
    margin:10px 0 0;
}
#menu-toggle {
	display:none;
}
.navbar-toggle {
	border-radius:0;
}
.page-header {
    margin: 0 0 20px;
}
.input-group-addon {
	border-radius:0;
}

.table-form {
	width:100%;
}
.table-form th {
	color:#000000;
}
.table-form td, .table-form th {
	padding:3px 7px;
}
.opportunity_result_header .label {
    border-radius: 0;
    font-size: 14px;
    font-weight: normal;
    margin-right: 5px;
	line-height:20px;
}
.opportunity_result_header h3 {
    color: #000;
    font-size: 18px;
    margin: 0 0 20px;
}
.entry_row {
	margin:10px 0;
}
/*=========== TAB PANEL SKINING ==========*/
.nav-tabs {
	border-bottom:none;
}
.nav.nav-tabs > li > a {
    border: 1px solid #ddd;
    border-radius: 0;
    color: #aaa9a9;
    padding: 7px 30px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border-radius:0;
	background:#222222;
	color:#fff;
}
.tab-content {
	margin-top:20px;
}
.panel-head h4 {
	color:#5c7ba6;
}
/*=========== FORM & BUTTON SKINING ==========*/
.form-control {
	border-radius:0;
}

.form-bar {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #ddd;
    display: inline-block;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
}
.form-bar .form-inline .form-group {
	margin-right:10px;
}

.btn {
	border-radius:0;
	font-size:14px;
}
.btn-black {
    background-color: #222222;
    border-color: #222222;
    color: #fff;
}
.btn-black.active, .btn-black.focus, .btn-black:active, .btn-black:focus, .btn-black:hover, .open > .dropdown-toggle.btn-black {
    background-color: #000;
    border-color: #000;
    color: #fff;
}
.btn-primary {
    background-color: #fc9a18;
    border-color: #fc9a18;
    color: #fff;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    background-color: #ec9015;
    border-color: #ec9015;
    color: #fff;
}
.alert {
	border-radius:0;
}
.progress {
	border-radius:0;
	margin-bottom:0;
}
.table {
	margin-bottom:0;
	color:#787878;
}
.table tr th {
	color:#000;
}
.table a {
	color:#787878;
}


.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
     background-color: #5c7ba6;
    border-color: #5c7ba6;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.pagination > li > a, .pagination > li > span {
    color: #6e6e6e;
}

.table .checkbox  {
    margin-bottom: 0;
    margin-top: 0;
}
.action-footer {
	text-align:right;
	margin-top:20px;
}
.text-red {
	color:#e41724;
}
.input-table {
	width:100%;
}
.input-table tr th, .input-table  tr td {
	padding:10px 10px;
}
.input-table tr th {
	border-bottom:1px solid #ddd;
	font-weight:400;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
@media(max-width:768px) {
#page-content-wrapper .navbar-collapse {
    padding-left:15px;
}
#menu-toggle {
	display:block;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #e41724;
    color: #fff;
}

}
@media(min-width:768px) {
	
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
